<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aswanth\Assignment3\Api\PersonalInfoRepositoryInterface" type="Aswanth\Assignment3\Model\PersonalInfoRepository"/>
    <preference for="Aswanth\Assignment3\Api\Data\PersonalInfoInterface" type="Aswanth\Assignment3\Model\PersonalInfo"/>
    <preference for="Aswanth\Assignment3\Api\BusinessInfoRepositoryInterface" type="Aswanth\Assignment3\Model\BusinessInfoRepository"/>
    <preference for="Aswanth\Assignment3\Api\Data\BusinessInfoInterface" type="Aswanth\Assignment3\Model\BusinessInfo"/>
    <type name="Aswanth\Assignment3\Api\PersonalInfoRepositoryInterface">
        <plugin name="api_personal_info_repository" type="Aswanth\Assignment3\Plugin\PersonalInfoRepository" sortOrder="1" disabled="false"/>
    </type>
</config>
